<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>

<%= form_tag( '/', method: :get, id: "search-form") do %>
<%= text_field_tag :title, params[:title], placeholder: "Movie Title: " %>
<%= text_field_tag :director, params[:director], placeholder: "Movie Director: " %>
<%= select_tag :duration, options_for_select({"" => 0, "Under 90 Minutes" => 1,  "Between 90 and 120 Minutes" => 2, "Over 120 Minutes" => 3 }, params[:runtime_in_minutes]) %> 
<%= submit_tag "Search" %>
<% end %>
<hr>
<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.image), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %>/10</h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>